.cont-info {
  background-color: #f0f2f3;
}
.punteado {
  border-style: dashed;
  border-width: 1px;
  border-color: #778dee;

  font-family: verdana, arial;
  font-size: 1pt;
}

.size-animation {
  --bs-gutter-x: 0rem !important;
  background-color: #e7f4f7;
  /*    margin-top: -90px !important; */
}

body {
  background-image: url("img/bbs2.png");
  background-color: #6c8394;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.contenedor-img {
  position: relative;
}

.contenedor-titulos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#title-celebration,
#title-baby {
  color: white; /* Cambia según la imagen */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin: 0;
}

#title-celebration {
  font-size: clamp(1.8rem, 4vw, 3rem);
  font-family: "Italianno", cursive;
  font-size: 77px;
  font-style: normal;
  color: #b36317;
  letter-spacing: 8px;
}

#title-baby {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
   font-family: "Italianno", cursive;
  font-size: 77px;
  font-style: normal;
  color: #b36317;
  letter-spacing: 8px;
}
