.cont-info {
  background-color: #f0f2f3;
}
.punteado {
  border-style: dashed;
  border-width: 1px;
  border-color: #778dee;

  font-family: verdana, arial;
  font-size: 1pt;
}

.size-animation {
  --bs-gutter-x: 0rem !important;
  background-color: #e7f4f7;
  /*    margin-top: -90px !important; */
}

body {
  background-image: url("img/bbs2.png");
  background-color: #6c8394;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.contenedor-img {
  position: relative;
}

.contenedor-titulos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#title-celebration,
#title-baby {
  text-shadow: 1px 1px 3px #b36317;
  margin: 0;
}

#title-celebration {
  font-family: "Italianno", cursive;
  font-size: 77px;
  font-style: normal;
  color: #b36317;
  letter-spacing: 8px;
}

#title-baby {
  font-family: "Italianno", cursive;
  font-size: 77px;
  font-style: normal;
  color: #b36317;
  letter-spacing: 8px;
}
@media (max-width: 1199px) {
  #title-celebration,
  #title-baby {
    font-size: 65px;
    letter-spacing: 5px;
  }
}

@media (max-width: 991px) {
  #title-celebration,
  #title-baby {
    font-size: 50px;
    letter-spacing: 5px;
  }
}
@media (max-width: 767px) {
  #title-celebration,
  #title-baby {
    font-size: 40px;
    letter-spacing: 2px;
  }
}

@media (max-width: 575px) {
  #title-celebration,
  #title-baby {
    font-size: 55px;
    letter-spacing: 2px;
  }
}
@media (max-width: 513px) {
  #title-celebration,
  #title-baby {
    font-size: 40px;
    letter-spacing: 2px;
  }
}

@media (max-width: 393px) {
  #title-celebration,
  #title-baby {
    font-size: 30px;
    letter-spacing: 2px;
  }
}
