.cont-info {
  background-color: #f0f2f3;
}
.punteado {
  border-style: dashed;
  border-width: 1px;
  border-color: #778dee;

  font-family: verdana, arial;
  font-size: 1pt;
}

.size-animation {
  --bs-gutter-x: 0rem !important;
  background-color: #e7f4f7;
  /*    margin-top: -90px !important; */
}

body {
  background-image: url("img/bbs2.png");
  background-color: #6c8394;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.contenedor-img {
  position: relative;
}

.contenedor-titulos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#title-celebration,
#title-baby {
  text-shadow: 1px 1px 3px #b36317;
  margin: 0;
  font-weight: 500;
}

#title-celebration {
  font-size: 77px;
  font-style: normal;
  color: #b36317;
  letter-spacing: 8px;
  font-family: "Italianno", cursive;
}

#title-baby {
  font-family: "Italianno", cursive;
  font-size: 77px;
  font-style: normal;
  color: #b36317;
  letter-spacing: 8px;
}

#mjs-baptism {
  color: #242424;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  margin-bottom: 25px;
  margin-top: 30px;
}
.cont-baptism {
  background-color: rgba(3, 168, 168, 0);
  margin: 0 60px; /* márgenes iguales */
  text-align: center;
}
.contenedor-img {
  /*   height: 100vh;  
   background-color: aqua;  
  display: flex;
  justify-content: center;  
  align-items: center;   */
}

.contenedor-img img {
  max-width: 100%; /* Evita que se desborde */
  height: auto;
  background-color: #778dee00;
}

#date {
  color: #080f0b;
  font-size: 25px;
  letter-spacing: 5px;
  font-family: "Suranna", serif;
}
#misa,
#recepcion {
  color: #020202;
  font-size: 22px;
  font-weight: 800;
  font-family: "Cormorant Garamond", serif;
}

.datos {
  font-size: 17px;
  font-family: "Cormorant Garamond", serif;
  color: #020202;
  font-weight: 500;
}
#text-invitation {
  font-size: 36px;
  font-family: "Italianno", cursive;
  color: #b36317;
  font-weight: 500;
  margin-bottom: 30px;
}
.church,
.flatware {
  color: #a3bdb0;
  font-size: 35px !important;
}
.ubicacion {
  font-size: 18px !important;
  text-decoration: none;
  color: #b36317;
}
.ubica {
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
  color: #b36317;
  font-family: "Cormorant Garamond", serif;
}
.contenedor {
  display: flex;
  justify-content: center;
  top: 20%;
}
.hora {
  font-size: 22px;

  font-family: "Suranna", serif;
  color: #020202;
}
audio {
  height: 24px;
  display: flex;

  justify-content: center;
  width: 180px;
}
.text-espera {
  font-size: 20px;
  font-weight: 800;
  padding-top: 20px;

  color: #087740;
  font-family: "Cormorant Garamond", serif;
}
/**************************/

@media (max-width: 1199px) {
  #title-celebration,
  #title-baby {
    font-size: 65px;
    letter-spacing: 5px;
  }
}

@media (max-width: 991px) {
  #title-celebration,
  #title-baby {
    font-size: 50px;
    letter-spacing: 5px;
  }
}
@media (max-width: 767px) {
  #title-celebration,
  #title-baby {
    font-size: 40px;
    letter-spacing: 2px;
  }
  .cont-baptism {
    
    margin: 0 30px; /* márgenes iguales */
    
  }
}

@media (max-width: 575px) {
  #title-celebration,
  #title-baby {
    font-size: 55px;
    letter-spacing: 2px;
  }
}
@media (max-width: 513px) {
  #title-celebration,
  #title-baby {
    font-size: 40px;
    letter-spacing: 2px;
  }
}

@media (max-width: 393px) {
  #title-celebration,
  #title-baby {
    font-size: 30px;
    letter-spacing: 2px;
  }
}
